*{
    padding:0;
    margin:0;
}
body{
    background:rgb(7, 1, 14);
    color:#fff;
}
::-webkit-scrollbar{
    width:4px;
}
::-webkit-scrollbar-thumb{
    background:#fff;
}

/*  !Users  */
.register, .login, .posts{
    min-height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.register form, .login form, .posts form{
    width:260px;
    border:1px solid #fff;
    padding: 30px;
}
.register form input, .register form select, .register form textarea, .login form input, .posts form input, .posts form select, .posts form textarea{
    padding: 10px 2px;
    margin:2px 0;
    width:250px;
}
.register form select, .posts form select{
    width: 258px;
}
.register form select option, .posts form select option{
    background:rgb(7, 1, 14);
    color:#fff;
}
#submitRegistration, #loginSubmit, #submitPost{
    background:rgb(1, 14, 30);
    color:#fff;
    width:258px;
    margin-top:25px;
}
.formError{
    color:red;
}
.formSuccess{
    color:green;
}
#formMessage{
    text-align: center;
    width: 100%;
}
.fieldError{
    background: rgba(233, 118, 153, 0.123);
    color:#fff;
}
#formMessage{
    color:#fff;
}

/* topbar */
#topBar{
    display: grid;
    grid-template-columns: 1fr 100px;
    background: rgb(1, 14, 14);
    color:#fff;
}
#topBar .topBarContent{
    display: flex;
    align-items: center;
}
#topBar .topBarContent p a{
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    color: /*rgb(180, 200, 200)*/ #fff;
}
#topBar #user{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #fff;
}
#topBar #user img{
    height:40px;
    border-radius: 50%;
}
#userDetails{
    position:absolute;
    top: 70px;
    right:0;
    background:rgb(1, 14, 14);
    width:200px;
    padding:20px 0 20px 20px;
    display:none;
}
#userDetails p.email{
    text-transform: lowercase;
}
#userDetails p#logout{
    padding:10px;
    color:red;
    cursor: pointer;
}
#closeUserDetails{
    font-size: x-large;
    color:red;
    font-weight: bold;
    padding:8px;
    cursor: pointer;
}